body {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    color: greenyellow;
    font-family: monospace;
    min-height: 100vh;
    position: relative;
    max-width: 1920px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin: 1%;
}

main {
    padding-bottom: 100px;
}

.ascii-art {
    align-self: end;
    font-size: 5px;
    color: greenyellow;
    background-color: black;
    font-family: monospace;
}

a {
    color: greenyellow;
}

.main-content {
    display: flex;
}